body{
    box-sizing: border-box;
    direction: rtl;
}
.text-color{
    background: linear-gradient(90deg, green, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border-outline{
    background-color: white;
    border: 1px solid green;
    outline: none;
    /* border: 1px solid ; */
    /* background-clip: padding-box;
    border-image: linear-gradient(90deg, green, orange) 1; */
}
.border-outline:focus{
    border: 1px solid orange;
}
.parent{
    width: 80%;
    height: 100vh;
    margin: auto;
    
}
.par{
    position: absolute;
    /* width: 35%; */
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.login-div{
    width: 100%;
    border-radius: 15px;
    direction: rtl;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-div{
    width: 60px;
    height: 10%;
    text-align: center;
    color: gray;
    margin: auto;
    font-size: 11px;

}
.login-div h2{
    margin: 30px;
   
}
.login-div button{
    width: 35%;
    border-radius: 20px;
    height: 40px;
    margin: 10px;
    border: none; 
    color: white;
    cursor: pointer; 
    font-size: 16px; 
    background: linear-gradient(90deg, green, orange);
}
.logo{
    width: 100%;
    height: 100%;

}
.role{
    width: 80%;
    height: 40px;
}
.input-container {
    position: relative;
    margin: 10px;
    width: 80%;
    height: 40px;
    border-radius: 15px;

}

.input-container i {
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translate(-50%,-100%);
    color: green;
   
}

.input-container input {
    width: 100%;
    height: 100%;
    padding: 10px 30px 10px 10px;
    border-radius: 15px; 
    direction: rtl; 
}
/* ================================================================================ */
.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.logo-content{
    width: 10%;
    height: 100%;
    margin-left: 100px;
}
#collapsibleNavbar{
   z-index: 1;
}
nav{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-right: 2%;

}
nav a{
    display: block;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
}
/* ========================================================================= */
.parent-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.search-on-tasks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    margin: 50px 0px;
}
.search-icon{
    position: relative;
}
.search-icon i{
    position: absolute;
    right: 15px; 
    top: 80%;
    transform: translate(-50%,-100%);
    color: white;
}
.search-on-tasks input{
    border-radius: 20px;
    width: 100%;
    border: none; 
    color: white;
    cursor: pointer; 
    font-size: 16px; 
    background: linear-gradient(90deg, orange,green);
    height: 40px;
}
.search-on-tasks button{
    height: 40px;
    border-radius: 20px;
    cursor: pointer; 
    font-size: 16px; 

}
select{
    border-radius: 20px;
    height: 40px;
}
.tasks-par{
    width: 100%;
    height: 80%;
    direction: rtl;
}
.tasks-actions{
    width: 100%;
    display: flex;
    height:50px;
}
.tasks-actions button{
    /* width: 50%; */
    height: 100%;
    border-radius: 20px;
    border: 0px ;
    outline: none;
    border-bottom: 1px solid orange;
    color: green;
    background-color: white;
}
.tasks-actions button:focus{
    background-color:rgb(221, 245, 221) ;
    border-bottom: 1px solid green;
}
.tasks-content{
    width: 100%;
    height: 90%;
   
}
table {
    width: 100%;
    border-collapse: collapse;
}
  
th {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid ;
    background-clip: padding-box;
    border-image:linear-gradient(right,orange,green,orange);
}
td{
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: green;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid ;
    background-clip: padding-box;
    border-image:linear-gradient(right,orange,green,orange);
}
tr:hover{
    background-color: rgba(235, 231, 231, 0.696);
    cursor: pointer;
}
/* ============================================= */
.task-par{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    row-gap: 10px;
    margin: auto;
    margin-top: 100px;
}
.task-parameter{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid green;
    height: 300px;
}
.task-parameter div{
    width: 30%;
    text-align: center;
}
.about-task{
    width: 100%;
    display: flex;
    flex-direction: column;
    direction: rtl;
}
.about-task div{
    width: 100%;
}
.task-img{
    width: 70%;

}
.task-img img{
    width: 60px;
    height: 60px;
}
.about-task video{
    color: green;
}
/* ================================================ */
.t-parant{
    margin: auto;
    border: 1px solid green;
    text-align: center;
    margin-top: 70px;
    border-radius: 10px;
}
.t-parant h3{
    margin: 10px 0px 20px 0px;
}
.org-par{
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.org-par div{
    width: 50%;
}
.org-par div input{
    width: 90%;
    border-radius: 10px;
    outline: none;
    

}
.org-par div select{
    width: 90%;
    border-radius: 10px;
    outline: none;
}
.org-par div label{
    width: 90%;
}.t-parant button{
    border-radius: 20px;
    height: 40px;
    margin: 15px;
    border: none; 
    color: white;
    cursor: pointer; 
    font-size: 16px; 
    background: linear-gradient(90deg, green, orange);
    width: 90%;
}
#questionDiv{
    margin: 20px;
    width: 100%;
    border: 1px solid green;
    text-align: center;
    border-radius: 10px;
}
#questionDiv input{
    width: 90%;
    border-radius: 10px;
    outline: none;
    margin: 10px;
}
#questionDiv label{
    /* width: 0%; */
}
#questionDiv button{
    border-radius: 20px;
    height: 40px;
    margin: 15px;
    border: none; 
    color: white;
    cursor: pointer; 
    font-size: 16px; 
    background: linear-gradient(90deg, green, orange);
    width: 40%;
}
.orghead{
    text-align: center;
    margin: 20px;
}
.orgdiv{
    margin: auto;
    margin-top: 50px;
}
.orgdiv table{
    outline: 1px solid green;
}
.check-content{
    border-radius: 10px;
    border: 1px solid green;
    width: 50%;
    padding: 10px;
}
/* =============================================== */
.icon-action{
    margin: 0px 10px;
}
table{
    border: 1px solid green;
}
.add-btn{
    border-radius: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    border: none; 
    color: white;
    cursor: pointer; 
    font-size: 16px; 
    background: linear-gradient(90deg, green, orange);
    width: 30%;
}
.check-head{
    
}
.content-par{
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* ======================================== */
.map-parent{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.map-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
}
.map{
    border-radius: 10px;
   
}
.map-filter{
    border-radius: 10px;
   
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(250, 250, 250);
}
.map-filter h2{
    margin-right: 20px;
}
.line{
    margin-right: 20px;
    width: 80px;
    height: 2px;
    background-color: green;
}
.map-filter div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.map-filter div input{
    border-radius: 10px;
    border: 1px solid green;
}
.map-result{
    border-radius: 10px;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
    height: 350px;
    background-color: rgb(250, 250, 250);
}
.map-result h5{
    display: inline;
}
.map-result p{
   margin-right: 30px;
}
.map-result-agent{
    border-radius: 10px;
    border: 1px solid green;
    height: 45%;
    width: 100%;
    background: linear-gradient(90deg, green, orange);
}
.map-result-agent i{
    font-size: 35px;
    color: rgb(0, 140, 255);
    margin: 30px;
}
.map-result-tasks{
    border-radius: 10px;
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.map-result-tasks-div1{  
   width: 47%;
   height: 100%;
   border-radius: 10px;
   border: 3px solid green;
}
.map-result-tasks-div1 i{
    font-size: 35px;
    color: rgb(255, 136, 0);
    margin: 30px;

}
.map-result-tasks-div2 i{
    font-size: 35px;
    color: green;
    margin: 30px;

}
.map-result-tasks-div2{
    width: 47%;
   height: 100%;
   border-radius: 10px;
    border: 3px solid orange;
}
.map-info{
    direction: rtl;
    text-align: right;

}
.map-info i{
    font-size: 15px;
    color: green;
}
.btn-map{
    border-radius: 20px;
    height: 40px;
    border: none; 
    color: white;
    cursor: pointer; 
    font-size: 16px; 
    background: linear-gradient(90deg, green, orange);
    width: 40%;
    margin-right: 20px;
}
/* ================================================== */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  